.container {
    width: 100%; /*总共*/
    display: flex;
    font-size: 20px;
    white-space: nowrap; /*使文字不换行显示*/
}

.logo {
    width: 10%;
    height: 65px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.text-btn-s {
    width: 60%;
    line-height: 65px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
}


.btn {
    text-decoration: none;
    color: #353535;
    padding: 8px 14px;
}

.input {
    width: 15%;
    padding-right: 35px;
    background: #f6f7fb url("search-icon.png") no-repeat right;
    background-size: 30px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 20px;
    border: none;
    text-align: center;
}

/*设置hot图标注意以下两点*/
.jiangtang {
    display: inline; /*1. 可以使块级元素div不要换行！*/
    color: #fa8919;
    position: relative; /*2.hot的父元素*/
}
.hot1 {
    width: 40%;
    height: 40%;
    position: absolute; /*2.在父元素为relativ的情况下用绝对定位hot图标*/
    top: -6px;
    right:-6px;
}
/*analog*/
.xunlianying {
    display: inline;/*1.*/
    position: relative; /*2.hot的父元素*/
}
.hot2 {
    position: absolute; /*2.在父元素为relativ的情况下用绝对定位hot图标*/
    width: 30%; /*细调相对位置*/
    height: 40%;
    top: -6px;
    right:-6px;
}

.login {
    width: 15%;
    color: #888;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
}